
body.custom-bg {
    background-color: #5B0017;
   
}
.container-fluid{
    background-color: #5B0017;
    color: white;

}
.navbar-nav {
    background-color: #5B0017;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.section-text {
    flex: 1;
    text-align: left;
}

.section-text h1 {
    font-size: 20px;
    margin-bottom: 20px;

}

.section-image {
    flex: 1;
    display: flex;
    justify-content: flex-start;


}

.section-image img {
    max-width: 100%;
    max-height: 100%;
}

