
body.custom-bg {
    background-color: #5B0017;
   
}
.container-fluid{
    background-color: white;

}
.navbar-nav {
    background-color: #5B0017;
    
}
.bg-white {
    
    background-color: #5B0017;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.section-text {
    flex: 1;
    text-align: left;
}

.section-text h1 {
    font-size: 20px;
    margin-bottom: 20px;

}

.section-image {
    flex: 1;
    display: flex;
    justify-content: flex-start;


}

.section-image img {
    max-width: 100%;
    max-height: 100%;
}

  .bg-cc9d2f {
    background-color: #CC9D2F;
  }

  .transparent-border {
    border: 2px solid rgba(91, 0, 23, 0.5);
    padding: 10px;
    background-color: transparent;
    margin-top: 20px;
    color: #5B0017;
  }
  .navbar-nav {
    display: inline-flex;
    justify-content: center;
    gap: 20px;
}
.text-gray {
    color: #888888; /* Remplacez #888888 par le code de couleur gris de votre choix */
  }
  .bg-color-block {
    max-width: 100%;
    height: 100px; /* Ajustez la hauteur selon vos besoins */
  
}

